@font-face {
font-family: 'Helvetica Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Light'), url('helveticaneuecyr-light-webfont.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Thin';
font-style: normal;
font-weight: normal;
src: local('Helvetica Thin'), url('helveticaneuecyr-thin-webfont.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Medium';
font-style: normal;
font-weight: normal;
src: local('Helvetica Medium'), url('HelveticaNeueMedium.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Roman';
font-style: normal;
font-weight: normal;
src: local('Helvetica Roman'), url('helveticaneuecyr-thin-webfont.woff') format('woff');
}
